<!doctype html>
<html>
<head>
  <title>BigQuery CC-A1</title>
  <script src="../static/script.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<section class="content"></section>
    <span><a href='/task1'>1</a></span> <span><a href='/task2'>2</a></span> <span><a href='/task3'>3</a></span>
    <table>
        <tr>
            {% for name in schema %}
            <th>
            {{ name }}
            </th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for name in schema %}
            <td>
                {{ row[name] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</section>
</html>
